{% extends "layout.html" %}

{% block body %}
  <h3>Hakkımızda</h3>
  <hr>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod magni quasi dolor libero voluptatum non tenetur ipsa pariatur. Ullam, pariatur beatae magnam quasi dolore ipsam voluptatibus cumque eos itaque accusantium. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Earum suscipit, eum fugiat debitis officia quos ipsam at impedit ullam corporis reprehenderit doloremque possimus saepe aperiam vel consequuntur rem dolorum soluta!</p>
{% endblock body %}
