{% extends "layout.html" %}

{% block body %}
  
<div class="jumbotron text-center">
    <h3>Yazılım Bilimi Bloğuna Hoşgeldiniz...</h3>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Repudiandae dolore, numquam molestiae optio odit voluptatem aspernatur, quidem velit quae rerum accusantium ex totam repellendus culpa officia illo nulla deserunt vitae?
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo asperiores dolorem unde, at, adipisci consectetur dolorum iusto nemo similique autem libero reprehenderit repellat, consequuntur dicta pariatur provident ex suscipit deserunt!
    </p>
</div>
{% endblock body %}